<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.userfollow.UserFollowMapper">
    <insert id="insUserFollow">
        INSERT INTO user_follow
        SET from_user_id=#{fromUserId},
            to_user_id=#{toUserId}
    </insert>

    <delete id="delUserFollow">
        DELETE
        FROM user_follow
        WHERE from_user_id=#{fromUserId}
         AND to_user_id=#{toUserId}
    </delete>

    <!--프로필 주인의 이름, 사진, 가입일시, 피드수, 좋아요수, 팔로잉 수, 팔로워수-->
    <!--팔로우 상태 둘 다 X 0, 둘 중 한 명 X(나만 1, 상대만 2), 둘 다 O 3-->
    <select id="">
        SELECT
        FROM user_follow A
        INNER JOIN user B
    </select>
</mapper>